:root {
  --cor-primaria: #e6b07e;
  --cor-secundaria: #665e57;
  --tom-1: #ead8c7;
  --tom-2: #b38962;
  --tom-3: #664e38;

  --fonte-titulo: "Exo", sans-serif;
  --fonte-corpo: "Source Serif 4", sans-serif;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--tom-1);
}

.escondido {
  top: -176px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
